<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caseynbrown.moneymanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/activity_main" android:debuggable="true">
        <activity
            android:label="@string/activity_main"
            android:name=".MoneyManagerActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/activity_balance"
            android:name=".BalanceViewActivity">
        </activity>
        <activity
            android:label="@string/activity_newEntry"
            android:name=".NewEntryActivity">
        </activity>
        <activity 
            android:label="@string/activity_peopleList"
            android:name=".PeopleListActivity">
        </activity>
       	<activity 
       	    android:label="@string/activity_addPeople"
       	    android:name=".PeopleAddActivity">
  	    </activity>
  	    <activity 
       	    android:label="@string/activity_indivBal"
       	    android:name=".IndividualBalanceViewActivity">
  	    </activity>
  	    <activity 
       	    android:label="@string/activity_editBalance"
       	    android:name=".EditBalanceActivity">
  	    </activity>
  	    <activity
  	        android:label="@string/activity_help"
  	        android:name=".HelpActivity">
  	    </activity>
    </application>
</manifest>