<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caseynbrown.moneymanager"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/activity_main" android:debuggable="false">
        <activity
            android:label="@string/activity_main"
            android:name=".MoneyManagerActivity"
            android:screenOrientation="portrait">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/activity_balance"
            android:name=".ViewBalanceActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:label="@string/activity_newEntry"
            android:name=".NewEntryActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:label="@string/activity_peopleList"
            android:name=".PeopleListActivity"
            android:screenOrientation="portrait">
        </activity>
       	<activity 
       	    android:label="@string/activity_addPeople"
       	    android:name=".PeopleAddActivity"
       	    android:screenOrientation="portrait">
  	    </activity>
  	    <activity 
       	    android:label="@string/activity_indivBal"
       	    android:name=".ViewIndividualBalanceActivity"
       	    android:screenOrientation="portrait">
  	    </activity>
  	    <activity 
       	    android:label="@string/activity_editBalance"
       	    android:name=".EditBalanceActivity"
       	    android:screenOrientation="portrait">
  	    </activity>
  	    <activity
  	        android:label="@string/activity_help"
  	        android:name=".HelpActivity"
  	        android:screenOrientation="portrait">
  	    </activity>
  	    <activity
  	        android:label="@string/activity_viewEntry"
  	        android:name=".ViewEntryActivity"
  	        android:screenOrientation="portrait">
	    </activity>
    </application>
</manifest>